/* ---  dropDown menu custom style */

.CustomDayItemMenu .visible.menu.transition {
  width: 180px !important;
  left: -180px;
  z-index: 210000;
}

.CustomDayItemMenu .visible.menu.transition .selected.item,
.ui.dropdown .menu .item {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  color: #000000 !important;
  box-shadow: 0px 3px 6px #0000000e !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}
.CustomDayItemMenu .visible.menu.transition .selected.item:hover,
.ui.dropdown .menu .item:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

/* set opacity for day items when mouse come over to their container*/
.dayItemContainer:hover {
  opacity: 1;
}

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
